<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">SinRopa Games</h1>
    <p class="lead">Live game dev on Kick</p>
    <hr class="my-4">
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            Contribute to game design decisions live!</li>
        <li class="list-group-item list-group-item-dark">
            All games created on stream are hosted and playable for free!</li>
        
    <a href="https://kick.com/sinropa" target="_blank" class="badge badge-dark">Follow me on Kick</a>
